body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#cover{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
#form-login{
    max-width: 400px;
    background: rgba(0,0,0,0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;

}
.form-heading{
    font-size: 25px;
    color: white;
    text-align: center;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: whitesmoke;
}
.acess-form{
    color: black;
}
.form-group{
    border-bottom: solid white 1px;
    margin-top: 15px;
    margin-bottom: 20px;
}